{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup_page</title>
</head>

{% block contents %}
<body>
<div class="container" style="color:skyblue;">
<h1>Sign Up!</h1>

<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %} <!--보안을 위해서 써주는 난수발생기.--> 
    Username:
    <br>
    <input name = "username" type="text" value="">
    <br><br>
    Password:
    <br>
    <input name="password1" type="password" value="">
    <br><br>
    Confirm Password:
    <br>
    <input name="password2" type="password" value="">
    <br><br>
    
    <input class="btn btn-primary" type="submit" value="Sign Up!">
</form>
</div>

</body>
{% endblock %}
</html>