{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{% block contents %}
<body>
    <div class="container" style = "color:#ffffff;">
    <h1>ABOUT</h1>
    <br>
    <p>
    This website is made by <a href="mailto:dhy04057@likelion.org">dhy04057@likelion.org</a>.
    If you want to contact to the developer, click <a href="mailto:dhy04057@likelion.org"><strong>this</strong></a>
    </p>
    </div>
    
</body>
{% endblock %}
</html>